# Python Test 100
## Group 4 Questions 1..6

### -------------------- Question 1 --------------------

timeseries - a series indexed by datetime objects (or similar objects)<br>
Give examples of creating a timeseries

#### Answer

In [9]:
import sys, os
import pandas as pd
import numpy as np
import datetime as dt
mydates = [dt.datetime(2011,1,2), 
           dt.datetime(2011,1,5), 
           dt.datetime(2011,1,7), 
           dt.datetime(2011,1,8), 
           dt.datetime(2011,1,10), 
           dt.datetime(2011,1,12)]

ts = pd.Series(np.random.randn(6), index=mydates) 
print(ts)

ts = pd.Series(np.random.randn(1000), 
               index = pd.date_range('1/1/2000',periods=1000, normalize=True))
print("-"*40)
print(ts)

#   note: in above we use normalize=True to zero-out times. 
#   so ts.index = [2000-01-01 00:00:00, ..., 2002-09-26 00:00:00]

2011-01-02    0.993197
2011-01-05   -0.129720
2011-01-07    0.040141
2011-01-08   -1.290629
2011-01-10   -0.705552
2011-01-12   -1.214130
dtype: float64
----------------------------------------
2000-01-01    1.086165
2000-01-02   -0.500243
2000-01-03    0.031623
2000-01-04    0.537872
2000-01-05    0.749311
                ...
2002-09-22   -1.451047
2002-09-23    0.393659
2002-09-24    0.087311
2002-09-25   -0.360105
2002-09-26   -0.352867
Freq: D, Length: 1000, dtype: float64

### -------------------- Question 2 --------------------

Show how to sort dictionary keys by keys or by values

#### Answer

In [10]:
dd = {11:5, 22:4, 33:3, 44:2, 55:1}
print(sorted(dd))                          # [11, 22, 33, 44, 55]
print(sorted(dd,key=dd.get))               # [55, 44, 33, 22, 11]
print(sorted(dd,key=dd.get, reverse=True)) # [11, 22, 33, 44, 55]

[11, 22, 33, 44, 55]
[55, 44, 33, 22, 11]
[11, 22, 33, 44, 55]

### -------------------- Question 3 --------------------

Show the uses sorted() function by using each of the parameters<br>
<b>sorted(iterable, cmp=None, key=None, reverse=False)</b>

#### Answer

In [11]:
# sorted(iterable, cmp=None, key=None, reverse=False) - returns new sorted list

aa=[1,2,3,11,12,13]
print(sorted(aa))                       # [1, 2, 3, 11, 12, 13]
print(sorted(aa,key=str))               # [1, 11, 12, 13, 2, 3]
print(sorted(aa,key=int))               # [1, 2, 3, 11, 12, 13]
print(sorted(aa,key=int,reverse=True))  # [13, 12, 11, 3, 2, 1]
print(sorted(aa,key=str,reverse=True))  # [3, 2, 13, 12, 11, 1]

[1, 2, 3, 11, 12, 13]
[1, 11, 12, 13, 2, 3]
[1, 2, 3, 11, 12, 13]
[13, 12, 11, 3, 2, 1]
[3, 2, 13, 12, 11, 1]

### -------------------- Question 4 --------------------

Show the variables that I have defined in current ipython session
<br>    (dir(), locals(), globals() return too much)

#### Answer

In [12]:
# use magic command %who to print the list
# use magic command %who_ls to return the list

mylist = %who_ls
print(mylist)

['A', 'B', 'aa', 'arr', 'byte_txt', 'cnt_eff', 'cnt_np', 'dd', 'df', 'dt', 'dt1', 'dt2', 'fh', 'fname', 'ii', 'mydates', 'mylist', 'row', 'ss', 'ts', 'working_days_in_range']

### -------------------- Question 5 --------------------

Calculate number of business days between two dates

#### Answer

In [13]:
import numpy as np
import datetime as dt

dt1 = dt.date(2021,4,12)
dt2 = dt.date(2021,4,18)

# use numpy
cnt_np = np.busday_count(dt1, dt2)
print("np:",cnt_np)

np: 5

In [14]:
# ------------------------------------------------
# efficient way to calculate 
# ------------------------------------------------
def working_days_in_range(from_date, to_date):
    from_wkd = from_date.weekday()
    to_wkd = to_date.weekday()
    if from_wkd > 4:    # Sat, Sun
        from_wkd = 0    # Mon
    day_diff = to_wkd - from_wkd
    whole_wks = ((to_date - from_date).days - day_diff) / 7
    correction = min(day_diff, 5) - (max(to_wkd - 4, 0) % 5)
    if day_diff in [5,6]:
        whole_wks += 1
        correction = 0
    wkdays_whole_weeks = whole_wks * 5
    working_days = wkdays_whole_weeks + correction
    # Final sanity check (i.e. if the entire range is weekends)
    return int(max(0, working_days))

# ------------------------------------------------
cnt_eff = working_days_in_range(dt1, dt2)
print("eff:",cnt_eff)

# special libraries for bus. days calculations
# https://pypi.org/project/workdays/
# https://bitbucket.org/shelldweller/python-bizdatetime
pass

eff: 5

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame({ 'A' : ['1/1/2013', '2/2/2013', '3/3/2013'],
                    'B': ['1/12/2013', '4/4/2013', '3/3/2013']})
display(df)
print("-"*40)

df['Ad'] = pd.to_datetime(df['A'])
df['Bd'] = pd.to_datetime(df['B'])

display(df)
print("-"*40)

A = np.array(df['Ad'].values.astype('datetime64[D]'))
B = np.array(df['Bd'].values.astype('datetime64[D]'))
print(A)
print("-"*40)

df['DIFF'] = np.busday_count(A,B)
display(df)

          A          B
0  1/1/2013  1/12/2013
1  2/2/2013   4/4/2013
2  3/3/2013   3/3/2013

----------------------------------------

          A          B         Ad         Bd
0  1/1/2013  1/12/2013 2013-01-01 2013-01-12
1  2/2/2013   4/4/2013 2013-02-02 2013-04-04
2  3/3/2013   3/3/2013 2013-03-03 2013-03-03

----------------------------------------
['2013-01-01' '2013-02-02' '2013-03-03']
----------------------------------------

          A          B         Ad         Bd  DIFF
0  1/1/2013  1/12/2013 2013-01-01 2013-01-12     9
1  2/2/2013   4/4/2013 2013-02-02 2013-04-04    43
2  3/3/2013   3/3/2013 2013-03-03 2013-03-03     0

### -------------------- Question 6 --------------------

How to write/read binary strings

In [16]:
import os,sys

fname = "/tmp/junk_binary.txt"

# --------------------------
# Writing binary file
# --------------------------
fh = open(fname,"wb")
for row in range(3):
    ss=b""
    for ii in range(5): 
        ss+=ii.to_bytes(1,"big")
    ss += b"\n"
    fh.write(ss)
fh.close()

# --------------------------
# Reading binary file
# --------------------------

with open(fname,'rb') as fh:
    byte_txt = fh.read()

print("type = ", type(byte_txt), ", len = ",len(byte_txt))

arr = byte_txt.split(b'\n')
print("length = ", len(arr))
print(arr)

type =  <class 'bytes'> , len =  18
length =  4
[b'\x00\x01\x02\x03\x04', b'\x00\x01\x02\x03\x04', b'\x00\x01\x02\x03\x04', b'']