## Pivot table

In [1]:
import os,sys
import pandas as pd
import numpy as np
!python --version

Python 3.9.12

In [2]:
aa = pd.DataFrame(
    { 'foo' : 3*['one'] + 3*['two'],
      'bar' : 2*['A','B','C'],
      'baz' : [1,2,3,4,5,6]
    }
)

aa = aa[['foo','bar','baz']]
print(aa)
print("---------------")
#       foo bar  baz
#    0  one   A    1
#    1  one   B    2
#    2  one   C    3
#    3  two   A    4
#    4  two   B    5
#    5  two   C    6

print(aa.pivot('foo','bar','baz'))
print("---------------")
print(aa.pivot('foo', 'bar')['baz'])

   foo bar  baz
0  one   A    1
1  one   B    2
2  one   C    3
3  two   A    4
4  two   B    5
5  two   C    6
---------------
bar  A  B  C
foo
one  1  2  3
two  4  5  6
---------------
bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [4]:
# jupyter gadget - pivot table: drag & drop !!
#
# http://nicolas.kruchten.com/content/2015/09/jupyter_pivottablejs/
# https://anaconda.org/conda-forge/jupyter_pivottablejs
# conda install -c conda-forge jupyter_pivottablejs

from pivottablejs import pivot_ui

In [5]:
aa = pd.DataFrame(
    { 'foo' : 3*['one'] + 3*['two'],
      'bar' : 2*['A','B','C'],
      'baz' : [1,2,3,4,5,6]
    }
)
aa
pivot_ui(aa)